{% load static %}

<!-- Contact start -->
<section id="contact" class="pfblock">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="pfblock-header">
				<h2 class="pfblock-title">Contact</h2>
				<div class="pfblock-line"></div>
				<div class="pfblock-subtitle">
		I'm currently accepting new projects and would love to 
		hear about yours. Please take a few minutes to tell me 
		about it. After you introduce yourself and your project, 
		I'll get it touch with you to schedule a time to chat.
				</div>
			</div>
		</div>
	</div><!-- .row -->

	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			{% include 'mainpage/contact_form.html' %}
		</div><!-- .row -->
	</div><!-- .container -->
</section>
<!-- Contact end -->