{% load static %}

<!-- Footer start -->
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<ul class="social-links">
					<li><a href="https://www.linkedin.com/in/krunalpatil2020/" class="wow fadeInUp" data-wow-delay=".1s" target="_blank"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="https://github.com/gitkp11" class="wow fadeInUp" data-wow-delay=".2s" target="_blank"><i class="fa fa-github"></i></a></li>
					<li><a href="mailto:patilkrunal11.kp@gmail.com" class="wow fadeInUp" data-wow-delay=".4s"><i class="fa fa-envelope"></i></a></li>
					<li><a href="https://www.facebook.com/patilkrunal.11/" class="wow fadeInUp" data-wow-delay=".5s" target="_blank"><i class="fa fa-facebook"></i></a></li>
				</ul>

				<p class="copyright"> Feel free to email me, or visit my GitHub and LinkedIn pages.</p>
				<p class="heart">Made with <span class="fa fa-heart fa-2x animated pulse"></span> ©gitkp </p>
			</div>
		</div><!-- .row -->
	</div><!-- .container -->
</footer>
<!-- Footer end -->