{% load static %}

<!-- Portfolio start -->
<section id="portfolio" class="pfblock">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="pfblock-header wow fadeInUp">
					<h2 class="pfblock-title">My works</h2>
					<div class="pfblock-line"></div>
					<div class="pfblock-subtitle">
					</div>
				</div>
			</div>
		</div><!-- .row -->

		<div class="row">
			{% for project in list_projects|slice:":" %}
				<div class="card col-xs-12 col-sm-5 col-md-4 mx-0 px-1">
						<div class="grid wow zoomIn">
							<figure class="effect-bubba"><a href="{{ project.url }}" target="_blank">
								{% with 'mainpage/images/'|add:project.img_name as image_static %}
										<img class="card-img-top" src="{% static image_static %}"></a>
								{% endwith %}
							</figure>
							<div class="card-block">
								<h2 class="card-title">{{ project.title }}</h2>
								<p class="card-text">{{ project.description }}</p>
								<div class="tools">
									{% for tool in project.tools.split %}
										<span>{{ tool }}</span>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
	</div><!-- .contaier -->
</section>
<!-- Portfolio end -->
