{% load static %}

<!-- CallToAction start -->
<section class="calltoaction">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<h2 class="wow slideInRight" data-wow-delay=".1s">ARE YOU READY TO START?</h2>
				<div class="calltoaction-decription wow slideInRight" data-wow-delay=".2s">
					I'm available for freelance contracts, so get in touch:
				</div>
			</div>

			<div class="col-md-12 col-lg-12 calltoaction-btn wow slideInRight" data-wow-delay=".3s">
				<a href="#contact" class="btn btn-lg">Hire Me</a>
			</div>
		</div><!-- .row -->
	</div><!-- .container -->
</section>
<!-- CallToAction end -->