{% load static %}

<!-- Home start -->
<section id="home" class="pfblock-image screen-height">
  <div class="home-overlay"></div>
  <div class="intro">
    <div class="start">Hello, I am Software Engineering Student. You can call me </div>
    <h1>Krunal</h1>
    <div class="start">and I like creating Web Application & I'm working towards bringing a small change to humanity.</div>
  </div>

  <a href="#services">
    <div class="scroll-down">
      <span>
        <i class="fa fa-angle-down fa-2x"></i>
      </span>
    </div>
  </a>
</section>
<!-- Home end -->
