{% load static %}

<!-- Services start -->
<section id="services" class="pfblock pfblock-gray">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="pfblock-header wow fadeInUp">
					<h2 class="pfblock-title">ABOUT ME</h2>
					<div class="pfblock-line"></div>
					<div class="pfblock-subtitle">
						<p>I enjoy building everything from small business sites and 
							landing pages to portfolio themes and rich interactive web apps. 
							I love creating visually stunning and responsive websites. 
							I always try to combine aesthetic with functional aspects, 
							looking for the right balance to communicate without annoying.
						</p>
						<p>Programming is a true passion of mine and that passion continually 
							grows with every meaningful tech-related conversation I have, 
							with every moment of clarity as I finally figure out a nagging 
							issue on a project, and with every new concept, language, or 
							framework I delve into.
						</p>

						<a href="https://docs.google.com/document/d/1T5lqxiMhRAGoDHwdF0SKVi6ypIJDkJzr6DnwqxOfVUs/edit?usp=sharing" target="_blank" id="resume-effect">
							<i class="fa fa-3x fa-file-text-o" aria-hidden="true"></i> 
							Click to view my resume.
						</a>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="pfblock-header wow fadeInUp">
					<img id="myphoto" src="{% static 'mainpage/images/me.jpg' %}" alt="Vladislav Moroshan" style="border-radius: 100%;filter:grayscale(30%);">
				</div>
			</div>
	</div><!-- .container -->

	<div class="skills col-xs-12">
			<h2 class="pfblock-title">MY SKILLS</h2>
			<div class="pfblock-line"></div>

			<div class="row">
				<div class="devicon-cplusplus-line colored col-xs-15"><span>C++</span></div>
				<div class="devicon-c-plain colored col-xs-15"><span>C</span></div>
				<div class="devicon-python-plain colored col-xs-15"><span>PYTHON</span></div>
				<div class="devicon-java-plain colored col-xs-15"><span>JAVA</span></div>
				<div class="devicon-javascript-plain colored col-xs-15"><span>JAVASCRIPT</span></div>
				<div class="devicon-html5-plain colored col-xs-15"><span>HTML</span></div>
				<div class="devicon-css3-plain colored col-xs-15"><span>CSS</span></div>
				<div class="devicon-bootstrap-plain colored col-xs-15"><span>BOOTSTRAP</span></div>
				<div class="devicon-heroku-original colored col-xs-15"><span>HEROKU</span></div>
				<div class="devicon-amazonwebservices-original colored col-xs-15"><span>AWS</span></div>
			</div>
			<div class="row">
				<div class="devicon-django-plain colored col-xs-15"><span>DJANGO</span></div>
				<div class="devicon-github-plain colored col-xs-15"><span>GITHUB</span></div>
				<div class="devicon-mysql-plain colored col-xs-15"><span>MySQL</span></div>
				<div class="devicon-visualstudio-plain colored col-xs-15"><span>VS CODE</span></div>
				<div class="devicon-photoshop-plain colored col-xs-15"><span>PHOTOSHOP</span></div>
			</div>
		</div>
	</div>
</section>
<!-- Services end -->